.App {
  text-align: center;
  /* height: 100vh; */
  width: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: rgb(241, 239, 239);
}